.phone-header, .phone-footer {
    /* height: 28rem; */
    /* padding: 3.5rem .5rem; */
    background-color: rgb(58, 20, 20);
    border: none;
}

.phone-header {
    height: 40px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.phone-footer {
    height: 55px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.phone {
    border: 1px solid orangered;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.phone-screen {
    width: 275px;
    height: 450px;
    background: #333;
}

.speaker {
    width: 70px;
    height: 10px;
    border-radius: 5px;
    border: 1px solid orangered;
    background: gray;
}

.phone-bottom-button {
    border: .1rem solid orangered;
    border-radius: 50px;
    height: 45px;
    width: 45px;
}

.phone-bottom-button:hover {
    border: .1rem solid green;
}