.phone-header, .phone-footer {
    /* height: 28rem; */
    /* padding: 3.5rem .5rem; */
    background-color: rgb(58, 20, 20);
    border: none;
    /* border-radius: 25px; */
}
.phone-screen {
    min-width: 275px;
    min-height: 450px;
    border: 1px solid orangered !important;
    /* border-radius: 25px; */
}