.phone-header, .phone-footer {
    /* height: 28rem; */
    /* padding: 3.5rem .5rem; */
    background-color: rgb(57, 52, 78);
    border: none;
}

.phone-header {
    height: 40px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.phone-footer {
    height: 55px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.phone {
    box-shadow: 0px 0px 70px 80px;
    border: 1.5px solid rgb(125, 111, 106);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.phone-screen {
    width: 275px;
    height: 450px;
    background-size: cover;
    box-shadow: 0px 0px 25px 10px rgba(62, 249, 62, 0.25);
    background-color: rgba(62, 249, 62, 0.5);
    overflow: auto;
    z-index: 3;
}

.phone-screen-off {
    width: 275px;
    height: 450px;
    box-shadow: none !important;
    background-color: rgb(43, 46, 50) !important;
}

.power-button {
    width: 60px;
    height: 10px;
    border-radius: 5px 5px 0 0;
    translate: -25px -10px;
    background: rgb(125, 111, 106);
    border: 1px solid rgb(125, 111, 106);
    border-bottom: none;
}

.power-button:hover {
    background: rgba(107, 186, 208, 0.71);
    border: 1px solid rgb(125, 111, 106);
}

.speaker {
    width: 70px;
    height: 10px;
    border-radius: 5px;
    border: 1px solid rgb(125, 111, 106);
    background: gray;
}

.phone-bottom-button {
    border: .1rem solid rgb(125, 111, 106);
    border-radius: 50px;
    height: 45px;
    width: 45px;
}

.phone-bottom-button:hover {
    border: .1rem solid green;
    background: rgb(125, 111, 106);
}