.modal-content {
    background: darkslateblue !important;
    color: lightblue;
}

.offcanvas,
.offcanvas > .offcanvas-header,
.offcanvas > .offcanvas-body,
.offcanvas-header > .offcanvas-title > .navbar-nav > a,
.offcanvas-body > .navbar-nav > .nav-item > a,
.offcanvas-body > .navbar-nav > a.no-hover:hover,
.offcanvas-body > .navbar-nav > .nav-item > .dropdown-menu,
.offcanvas-body > .navbar-nav > .nav-item > .dropdown-menu > a,
.offcanvas-body > .navbar-nav > a {
    background: lightblue;
    color: darkslateblue;
    font-size: large;
}

.offcanvas-header > .offcanvas-title > .navbar-nav > a:hover,
.offcanvas-body > .navbar-nav > .nav-item > a:hover,
.offcanvas-body > .navbar-nav > .nav-item > .dropdown-menu > a:hover,
.offcanvas-body > .navbar-nav > a:hover {
    background: darkslateblue;
    color: lightblue;
}

.navbar-nav .nav-link {
    padding-left: 6px !important;
}
