.rotatingColor {
    /* filter: grayscale(0%); */
    animation-name: color;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

.notRotatingColor {
    border-radius: 5%;
}

@keyframes color {
    0% {
        filter: hue-rotate(0);
    }

    15% {
        filter: hue-rotate(60deg);
        border-radius: 2px;
        margin: 5px;
    }

    25% {
        filter: hue-rotate(90deg);
    }

    35% {
        filter: hue-rotate(150deg);
        border-radius: 1px;
        margin: 0.5px;
    }

    48% {
        filter: hue-rotate(180deg);
        filter: blur(0.5px);
        border-radius: 2px;
        margin: 1px;
    }

    65% {
        filter: hue-rotate(210deg);
        filter: blur(1px);
        border-radius: 4px;
        margin: 2px;
    }

    75% {
        filter: hue-rotate(240deg);
        filter: blur(0.5px);
        border-radius: 2px;
        margin: 1px;
    }

    80% {
        filter: hue-rotate(270deg);
        border-radius: 1px;
        margin: 0.5px;
    }

    88% {
        filter: hue-rotate(330deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}