
.accordion-button {
    color: darkslateblue;
    background: lightblue;
}

.accordion-button:not(.collapsed) {
    color: lightblue;
    background: darkslateblue;
}

.accordion-body > div > a {
    text-decoration: none; 
    padding: 0 4px 0 4px;
    color: lightblue;
    background: darkslateblue;
}

.accordion-body > div > a:hover {
    background: lightblue;
    color: darkslateblue;
}