img {
    border-radius: .5%;
}

.rotating {
    animation-name: image;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes image {
    0% {filter: hue-rotate(0);}
    10% {filter: hue-rotate(.1turn);}
    20% {filter: hue-rotate(.2turn);}
    30% {filter: hue-rotate(.3turn);}
    40% {filter: hue-rotate(.4turn);}
    50% {filter: hue-rotate(.5turn);}
    60% {filter: hue-rotate(.6turn);}
    70% {filter: hue-rotate(.7turn);}
    80% {filter: hue-rotate(.8turn);}
    90% {filter: hue-rotate(.9turn);}
    100% {filter: hue-rotate(1turn);}
}