body, #root-container {
  background: #bad0c7;
  font-family: "Lucida Sans Typewriter", monospace;
}

.alert-hidden {
  opacity: 0;
  transition: all ease-in 3s;
}
.alert-shown {
  opacity: 100%;
  transition: all ease-out 1s;
}