body, #root-container {
  background: #bdd5e3;
}

.alert-hidden {
  opacity: 0;
  transition: all ease-in 3s;
}
.alert-shown {
  opacity: 100%;
  transition: all ease-out 1s;
}

img {
  /*border-radius: 2%;*/
}